/* .background{
    background-size: cover;
    background-size: 100% 100%;
} */

.main-page {
  background-image: url("Images\welcomePhoto.jpeg");
  min-height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: "Assistant";
  text-align: center;
}

.about-yafit {
  font-size: 17px;
  width: 370px;
}

.yafitTitle {
  font-family: "Carbon Block";
  letter-spacing: 0;
  color: #44cece;
  opacity: 1;
  font-size: 50px;
  margin-bottom: 5px;
}

.welcome {
  font-family: "Assistant";
  font-size: 20px;
  margin-bottom: 10px;
}

.topnav {
  align-self: flex-end;
}

.bottom-flex {
  display: flex;
  flex: 1;
  position: sticky;
  top: 0;
}
.top-flex {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

.medium-flex {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.enjoy-row {
  margin-bottom: 50px;
}
