<div class="main-page">
  <div class="top-flex">
    <div class="yafitTitle">YAFIT OVADYA</div>
  </div>
  <div class="medium-flex">
    <div class="welcome">WELCOME!</div>

    <span>My name is Yafit, and i'm a designer.</span>
    <span>Mostly specialize in Websites and Apps,</span>
    <span> but can totally make you the hole package:</span>
    <span> Brand Design, Logos, Ads, Social and Video Editing too.</span>
    <span> You can look around and check out my work.</span>
    <span class="enjoy-row"> Here are my contact links:</span>
    <span> Meenwhile, enjoy!</span>
  </div>
  <div class="bottom-flex">
    <div class="topnav">
      <app-nav-btn name="work" url="works"></app-nav-btn>
      <app-nav-btn name="expirience" url="works"></app-nav-btn>
      <app-nav-btn name="skills" url="works"></app-nav-btn>
      <app-nav-btn name="contact" url="works"></app-nav-btn>
    </div>
  </div>
</div>
